.mainDiv,
.titleDiv,
.midDiv,
.btnDiv {
    display: flex;
    align-items: center;
}

.mainDiv {
    width: 100vw;
    justify-content: space-around;
}

.midDiv {
    gap: 5vw;
    justify-content: space-between;
}

.title {
    color: #3559E0;
    width: 4vw;
}

.btn {
    padding: 2vh 1vw;
    border-radius: 8px;
    border: solid 1px #3559E0;
    background-color: #3559E0;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover {
    border: 1px solid #3559E0;
    background-color: white;
    color: #3559E0;
}

.pLink,
.titleLink {
    text-decoration: none;
    color: black;
}

.mDP {
    padding: 0.5vh 0.3vw;
    border-radius: 5px;
}

.mDP:hover {
    background-color: rgb(240, 240, 240);
}

.menuDiv {
    display: none;
}

@media (max-width: 600px) {
    .mainDiv {
        justify-content: space-between;
        width: 100vw;
    }
    
    .menuDiv {
        display: inline-block;
        margin-right: 5vw;
    }
    
    .midDiv, .btnDiv {
        display: none;
    }

    .titleDiv {
        /* width: 50vw; */
        margin-left: 5vw;
    }

    .title {
        font-size: 4vh;
    }
}