.mainDiv {
    border: solid 1px black;
    padding: 3vh 3vw;
    border-radius: 10px;
    border: solid 1px #3559E0;
    box-shadow: #3559E0 0px 0px 20px 5px;
}

.mb, .titleDiv, .priceDiv, .featDiv, .btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDiv {
    height: 7vh;
}

.title {
    color: #3559E0;
    font-size: 1.8vw;
}

.btn {
    color: white;
    background-color: #3559E0;
    padding: 1.5vh 4.5vw;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #3559E0;
    transition: all 0.25s;
}

.btn:hover {
    border: solid 1px #3559E0;
    color: #3559E0;
    background-color: white;
}

.mb {
    /* background-color: #3559E0; */
    width: 100%;
}

.mbText {
    color: white;
    position: relative;
}

.ulImg {
    /* object-fit: contain; */
    position: absolute;
    top: 29.5vh;
}

.rlprice {
    font-weight: 800;
    font-size: 1.7vw;
}

.featList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
}

@media (max-width: 600px) {
    .mainDiv {
        width: 60vw;
    }

    .titleDiv {
        height: 4vh;
    }
    
    .title {
        font-size: 3vh;
    }

    .rlprice {
        font-size: 2.5vh;
    }

    .ulImg {
        position: relative;
        height: 65px;
        top: 0.5vh;
    }

    .mbText {
        position: absolute;
        color: color;
    }
}