.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
    height: 110vh;
    margin-top: -15vh;
}

.cardsDiv {
    display: flex;
    gap: 5vw;
}

.waveDiv {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave {
    background-image: url('./../../public/wave2.svg');
}

@media (max-width: 600px) {
    .mainDiv {
        margin-top: 10vh;
        margin-bottom: 15vh;
    }
    
    .cardsDiv {
        flex-direction: column;
        top: 20vh;
    }

    .wave {
        background-image: none;
    }
}