.title {
    color: white;
    font-size: 2.3vw;
    text-shadow: 0 0 20px #3559E0;
}

.text {
    font-size: 1.2vw;
    text-shadow: 0 0 5px #3559E0;
}

@media (max-width: 600px) {
    .title {
        font-size: 3vh;
    }
}