.main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10vh;
}

.mainText {
  font-size: 2.8vw;
}

.ulImg {
  /* object-fit: contain; */
  width: 12vw;
  height: 1vh;
}

.span {
  color: #3559E0;
  /* text-decoration: underline; */
  display: flex;
  flex-direction: column;
}

.image {
  object-fit: contain;
  width: 30vw;
}