.main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10vh;
  z-index: 10;
}

.mainDiv {
  height: calc(100vh - 97.43px);
}

.mainText {
  font-size: 2.8vw;
}

.ulImg {
  /* object-fit: contain; */
  width: 12vw;
  height: 1vh;
}

.span {
  color: #3559E0;
  /* text-decoration: underline; */
  display: flex;
  flex-direction: column;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('./../../public/blob.svg'); */
  /* aspect-ratio: 960/300; */
  /* width: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}

.image {
  object-fit: contain;
  /* width: 50vw; */
  height: 76.5vh
}

.tagline {
  line-height: 3.5vh;
}

.leftDiv {
  width: 40vw;
}

.btnDiv {
  display: flex;
  /* justify-content: space-around; */
  justify-content: flex-start;
  gap: 5vw;
  align-items: center;
  padding-top: 5vh;
}

.btn1, .btn2 {
  padding: 2vh 3vw;
  border-radius: 5px;
  border: none;
  font-size: 1vw;
  cursor: pointer;
}

.btn1 {
  background-color: #3559E0;
  color: white;
}

.btn2 {
  color: #3559E0;
  background-color: white;
  border: 1px solid #3559E0;
}

.waveDiv {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  background-image: url('./../../public/wave.svg');
}

.trainerDiv {
  /* margin-top: -2.5vh; */
  background-image: url('./../../public/tbg.svg');
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tTitleDiv {
  text-align: center;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
}

.tTitle {
  color: white;
  background-color: #3559E0;
  width: 17vw;
  border-radius: 10px;
}

.tCardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 3vh;
}